############################
# Build 결과
############################
bin/
obj/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider / JetBrains
############################
.idea/
*.sln.iml

############################
# 로그 / 캐시
############################
*.log
*.cache

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Test 결과
############################
TestResults/